<h2 class="text-center my-4 ">Hola desde el Register Alicia y Raquel</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
    <form action="/auth/register" method="post">
        <input 
            class="form-control mb-2"
            name="userName" 
            placeholder="ingrese nombre"
            type="text"               
            value="byjim">
        <input 
            class="form-control mb-2"
            name="email" 
            placeholder="ingrese email"
            type="text"               
            value="byjim@byjim.com">
        <input 
            class="form-control mb-2"
            name="password" 
            placeholder="ingrese password"
            type="password"               
            value="1234">
        <input 
            class="form-control mb-2"
            name="repassword" 
            placeholder="repita password"
            type="password"               
            value="1234">
            <button class="btn btn-primary" type="submit">Registrar usuario</button>
    </form>
    </div>
</div>